.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  height: auto;
  overflow: hidden;
}

.editBoxBody {
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.flexBox {
  display: flex;

  .flexItem {
    flex: 1;
  }
}

.black {
  color: #1f2d3d;
}

#app {
  min-height: 600px;
}

.vue-html5-editor > .toolbar > .dashboard {
  position: static;
}

// 折叠面板重置

.el-collapse, .el-collapse-item__header, .el-collapse-item__wrap {
    background: #ffffff;
    border: none;
}

.el-collapse-item__wrap {
    padding-top: 20px;
    overflow: visible;
}

.el-collapse-item__content {
    padding: 0;
}

.el-collapse-item__header {
    padding: 0;
    font-size: 20px;
    color: #000000;
}

.el-collapse-item__header {
  font-size: 20px;
  color: #000000;
}

.line-bold {
    height: 9px;
    border-top: 1px solid #99A9BF;
    background: #F9F9F9;
    margin: 30px 0;
}

.clear {
    clear: both;
}


// 两排表单
.form-b {
    margin-top: 30px;

    .formStylePro {
        position: relative;
        width: 640px;
        margin: 0 auto;

        .ewm-b {
          display: block;
          width: 200px;
          height: 200px;
          margin: auto;
          cursor: pointer;
        }

        &:last-child {
            margin-bottom: 30px;
        }
    }

    .baseInput {
        float: left;
        margin-bottom: 20px;

        &>span {
            float: left;
            width: 100px;
            font-size: 14px;
            color: #1F2D3D;
            line-height: 30px;
        }

        .input-box {
            float: left;
            width: 200px;

            input {
                height: 30px;
            }
        }
    }

    .bigB {
        .input-box {
            width: 540px;

            .el-select {
                width: 540px;
            }
        }

        .el-textarea {
          width: 540px;
        }
    }

    .rightF {
        float: right;
    }

    .width-box {
      width: 110%;
      overflow: hidden;
    }
}

// 更多按钮
.more-load {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 36px;
    cursor: pointer;

    &:hover {
      color: #20a0ff;
    }
}

// 三排表单
.form-discount {
    min-height: 600px;
    padding: 80px 0 30px;

    .float-form-box {
      position: relative;
      width: 1000px;
      margin: auto;
    }

    .formDiscount {
        width: 1020px;
        overflow: hidden;

        .formBox {
            float: left;
            margin: 0 20px 20px 0;

            .font-b {
              font-weight: bold;
            }

            &>span {
                float: left;
                width: 100px;
                font-size: 14px;
                color: #1F2D3D;
                line-height: 30px;
                height: 30px;
            }

            .btn-right-box {
              float: left;
              width: 200px;

              .el-tooltip {
                float: left;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                padding: 0 10px;
              }

              .btn-right {
                float: right;
                height: 30px;
                padding: 0 15px;
              }
            }

            .input-btn-box {
              float: left;
              width: 220px;

              .input-b {
                  float: left;
                  width: 160px;

                  .el-select {
                      width: 160px;
                  }

                  input {
                      height: 30px;
                  }
              }

              .input-btn {
                float: right;
                height: 28px;
              }
            }

            .input-box {
                float: left;
                width: 220px;

                .el-select {
                    width: 220px;
                }

                input {
                    height: 30px;
                }
            }

            .logo-upload {
              width: 120px;
            }

            .el-textarea {
              width: 220px;
            }
        }

        .bigF {
            .input-box {
                width: 900px;

                .el-select {
                    width: 900px;
                }
            }

            .el-textarea {
              width: 900px;
            }
        }

        .btnB {
          .input-box {
              width: 800px;

              .el-select {
                  width: 800px;
              }
          }

          .el-textarea {
            width: 800px;
          }

          .btn-box {
            float: left;
            width: 80px;
            height: 30px;
            margin-left: 20px;
            border-radius: 3px;
            background: #20a0ff;
            border: 1px solid #20a0ff;
            text-align: center;
            line-height: 30px;
            color: #ffffff;
            cursor: pointer;
          }

          .noClick {
            background: #eef1f6;
            border-color: #d1dbe5;
            color: #bfcbd9;
            cursor: not-allowed;
          }
        }

        .back-btn {
          float: right;
          margin-top: 10px;
          margin-left: 15px;
        }

        .save-btn {
          float: right;
          margin-top: 10px;
          margin-right: 20px;
          margin-left: 10px;
        }

        &:last-child {
            margin-bottom: 30px;
        }
    }
}

// 增加按钮
.add-btn {
    position: absolute;
    right: 0;
    top: 7px;
}

// 保存按钮
.save-btn {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

// 字数限制
.limit-box {
  float: right;
  text-align: right;
  line-height: 20px;
  font-size: 12px;

  a {
    color: red;
  }
}

// 空内容区域
.null-box {
  font-size: 20px;
  color: #333333;
  line-height: 200px;
  text-align: center;
}

.null-page {
  font-size: 14px;
  color: #999999;
  line-height: 120px;
  text-align: center;
}

.null-box-small {
  font-size: 14px;
  color: #999999;
  line-height: 30px;
  text-align: center;
}


.el-tabs__content {
  overflow: visible;
}

// 弹窗重置
.el-dialog--small {
  .el-select {
    width: 100%;
  }

  .el-date-editor {
    width: 100%;
  }
}

.el-dialog {
  top: 5% !important;
}

.el-form-item {
 margin-bottom: 10px; 
}

.el-dialog__body {
  padding-bottom: 10px;
}

// 图片自适应
.sou-box .cover-box,.card-box .card-img {
  display: block;
  overflow: hidden !important;

  img {
    position: relative !important;
    left: 50% !important;
    top: 0 !important;
    width: auto !important;
    min-width: 100% !important;
    height: 100% !important;
    transform: translateX(-50%);
  }
}

// 段落列表
.duan-list-box {
    margin: auto;

    .input-box {
        display: block;
        width: 800px;
        height: 50px;
        margin: 0 auto 30px;

        .input-search {
          float: left;
          width: 600px;
          height: 50px;
          appearance: none;
          font-size: 14px;
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid #bfcbd9;
          box-sizing: border-box;
          color: #1f2d3d;
          font-size: inherit;
          line-height: 1;
          outline: 0;
          padding: 3px 10px;
        }

        .search-btn {
          position: relative;
          float: left;
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 50px;
          font-size: 16px;
          padding: 0 23px;
        }

        .add-new-btn {
            float: right;
            height: 50px;
        }
    }

    .btn-input-box {
        position: absolute;
        right: 0;
        top: -50px;
        display: block;
        height: 30px;
        margin: 0 auto 30px;

        .el-input {
          float: left;
          width: 200px;
          height: 30px;

          input {
            font-size: 14px;
            height: 30px;
          }
        }

        .search-btn {
          position: relative;
          float: left;
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 30px;
          font-size: 16px;
          padding: 0 23px;
        }

        .add-new-btn {
            float: right;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
        }
    }

    .no-add {
      width: 696px;
    }

    .big-cards-box {

      .card-btns {
        text-align: right;
        position: absolute;
        font-size: 16px;
        color: #000000;
        right: 10px;
        bottom: 23px;
      }

      .card-box {
        position: relative;
        display: block;
        overflow: hidden;
        padding-bottom: 20px;
        border-bottom: 1px solid #C0CCDA;
        margin-bottom: 20px;

        .card-img {
          float: left;
          width: 160px;
          height: 100px;
          background: #cfcfd0;

          img {
            display: block;
            width: 160px;
            height: 100px;
          }
        }

        .card-content {
          float: right;
          width: 820px;

          .card-title {
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 3px;
          }

          .card-desc {
            font-size: 14px;
            line-height: 24px;
            color: #475669;
            height: 48px;
            overflow: hidden;
          }
        }
      }
    }
}

// 文字列表
.duan-font-box {
    margin: auto;

    .input-box {
        display: block;
        width: 800px;
        height: 50px;
        margin: 0 auto 30px;

        .input-search {
          float: left;
          width: 600px;
          height: 50px;
          appearance: none;
          font-size: 14px;
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid #bfcbd9;
          box-sizing: border-box;
          color: #1f2d3d;
          font-size: inherit;
          line-height: 1;
          outline: 0;
          padding: 3px 10px;
        }

        .search-btn {
          position: relative;
          float: left;
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 50px;
          font-size: 16px;
          padding: 0 23px;
        }

        .add-new-btn {
            float: right;
            height: 50px;
        }
    }

    .no-add {
      width: 696px;
    }

    .big-cards-box {

      .card-box {
        display: flex;
        align-items: center;
        overflow: hidden;
        border-bottom: 1px solid #C0CCDA;
        margin-bottom: 20px;
        padding-bottom: 10px;

        .card-content {
          flex: 1;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          text-align: justify;
        }

        .card-btns {
          margin-left: 15px;
          text-align: right;
          font-size: 16px;
          line-height: 16px;
          color: #000000;

          .list-btn {
            margin-bottom: 5px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
}

.btn-color {
  cursor: pointer;
  color: #20a0ff !important;
}

// 小图文列表
.small-card-box {
  display: flex;
  cursor: pointer;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #C0CCDA;
  margin-bottom: 20px;
  padding-bottom: 10px;

  .check-box {
    margin-right: 10px;
  }

  .card-img {
    width: 120px;
    height: 80px;
    background: #cfcfd0;
    margin-right: 15px;
    overflow: hidden;

    img {
      position: relative;
      left: 50%;
      top: 0;
      width: auto;
      min-width: 100%;
      height: 100%;
      transform: translateX(-50%);
    }
  }

  .card-content {
    flex: 1;

    .card-title {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 3px;
    }

    .card-desc {
      font-size: 14px;
      line-height: 24px;
      color: #475669;
      height: 48px;
      overflow: hidden;
    }
  }

  .card-btns {
    text-align: right;
    font-size: 16px;
    line-height: 16px;
    color: #000000;

    .el-icon {
      margin-left: 20px;

      &:hover {
        color: #999999;
      }
    }
  }
}

.page-box {
    margin-top: 10px;
}

.colorBlack {
  color: #000000;
}




